// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$primary: #fff;
$primary-500: #ddd;
$primary-700: #aaa;
$secondary: #1a1a1a;
$secondary-500: #000;
$category-color-1: #d42824;
$category-color-2: #0c598d;
$category-color-3: #f69541;
$category-color-4: #fccf38;
$category-color-5: #ae93c6;
$category-color-6: #1a1a1a;

html {
  font-size: 10px;
  .category-1-decoration {
	border-bottom: 5px solid $category-color-1;
  }
  .category-2-decoration {
	border-bottom: 5px solid $category-color-2;
  }
  .category-3-decoration {
	border-bottom: 5px solid $category-color-3;
  }
  .category-1 {
	color: $category-color-1
  }
  .category-2 {
	color: $category-color-2
  }
  .category-3 {
	color: $category-color-3
  }
}

.top-header {
  @media only screen and (min-width: 576px) {
	height: 15rem;
	background: $primary;
  }
  background: $secondary;
  height: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;


  color: $primary;
  font-size: 2.5rem;


  .search-column {
	@media only screen and (min-width: 576px) {
	  display: none;
	}
	display: block;
  }

  .logo {
	font-size: 6px;
	height: 10em;

	text-align: center;


	&:hover {
	  .logo-vinte-anos {
		transform: scale(1.25);
		transition: transform 0.5s ease;

	  }
	}

	.logo-circle {
	  @media only screen and (min-width: 576px) {
		margin: 0;
		transform: scale(1.15);
	  }

	  height: 10em;
	  width: 10em;

	  margin: auto;
	  z-index: 500;
	  transform: scale(0.7);

	  animation: logo-circle-animation 1s linear;

	  @keyframes logo-circle-animation {
		0% {
		  opacity: 0;
		}
		100% {
		  opacity: 1;
		}

	  }

	  .logo-circle-outside {
		height: 10em;

		animation: logo-circle-outside-animation 45s linear infinite;

		@keyframes logo-circle-outside-animation {
		  100% {
			transform: rotate(360deg);
		  }

		}
	  }

	  .logo-circle-inside {
		position: relative;
		top: -8.25em;

		height: 6.5em;
	  }
	}

	.logo-ciranda {
	  @media only screen and (min-width: 576px) {
		display: block;
	  }
	  display: none;
	  height: 5.0em;

	  margin-left: 1.5rem;

	  position: absolute;
	  top: 2.5em;
	  left: 11.5em;

	  animation: logo-ciranda-animation 1s ease;

	  @keyframes logo-ciranda-animation {
		0% {
		  opacity: 0;
		;
		}

		85% {
		  opacity: 1;
		}
	  }
	}

	.logo-vinte-anos {
	  @media only screen and (min-width: 576px) {
		display: block;
	  }
	  display: none;
	  height: 12em;

	  position: absolute;
	  top: -0.5em;
	  left: 30em;

	  margin-left: 1.5rem;

	  transition: all .3s ease-in-out;
	  animation: logo-vinte-anos 2.4s ease-in-out;

	  @keyframes logo-vinte-anos {
		0% {
		  opacity: 0;
		  transform: scale(0);
		}
		30% {

		  opacity: 0;
		}

		40% {
		  transform: scale(0);
		}

		60% {
		  transform: scale(1.5);
		  opacity: 1;
		}

		80% {
		  transform: scale(1);
		  opacity: 1;
		}
	  }
	}
  }

  .mobile-menu-dropdown {
	button {
	  @media only screen and (min-width: 768px) {

	  }
	  @media only screen and (min-width: 576px) {
		color: $secondary;
	  }
	  color: $primary;
	  font-size: 2.5rem;
	  float: right;
	}
  }



}

#main-nav {
  background: $primary;
  margin-bottom: 2rem;

  .navbar .navbar-collapse {
	text-align: center;
  }

  #main-menu {
	li {
	  a {
		text-decoration: none;
		font-family: 'Patua One', cursive;
	  	font-size: 1.8rem;
		color: $primary-700;

		padding-right: 30px;

		transition: all .15s ease-out;

		&:hover {
		  transform: scale(1.2);
		  transition: transform .15s ease-in;
		  filter: saturate(400%);
		}
	  }
	}

	#menu-item-8 a {
	  color: $category-color-1;
	}
	#menu-item-9 a {
	  color: $category-color-2;

	}
	#menu-item-10 a {
	  color: $category-color-3;

	}
	#menu-item-11 a {
	  color: $category-color-4;

	}
	#menu-item-12 a {
	  color: $category-color-5;

	}
	#menu-item-13 a {
	  color: $category-color-6;

	}
  }
}


 #banner {
   width: 100%;
   #carousel {
	 padding: 16px 0px;
	 .carousel-inner {

	   .carousel-item {

		 h3 {
		   font-family: 'Patua One', cursive;
		   font-size: 1.3rem;


		   @media only screen and (min-width: 576px) {
			 font-size: 2rem;
			 height: 3rem;
		   }
		 }

		 .carousel-image {
		   background-position: 50%;
		   background-size: cover;
		   height: 20rem;
		   z-index: 0;

		   @media only screen and (min-width: 576px) {
			 height: 30rem;
		   }

		   @media only screen and (min-width: 768px) {
			 height: 37rem;
		   }

		   &:after {
			 content: "";

			 position: absolute;

			 height: 100%;
			 width: 100%;

			 @media only screen and (min-width: 576px) {

			   background: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.2) 40%,rgba(0,0,0,.2) 80%,rgba(0,0,0,.4));

			 }
		   }
		 }

		 .carousel-caption {
		   color: $secondary;
		   text-align: left;
		   padding: 10px;
		   position:relative;
		   left: 0;
		   right: 0;
		   bottom: 0;

		   @media only screen and (min-width: 576px) {
			 bottom: 20px;
			 position: absolute;
			 color: $primary;
		   }
		   h2 {
			 font-family: 'Roboto', sans-serif;
			 font-weight: 900;
			 font-size: 2.3rem;
			 text-shadow: none;

			 @media only screen and (min-width: 576px) {
			   font-size: 2.8rem;
			   text-shadow: 0 1px 3px rgba(0,0,0,.8);

			 }
		   }
		 }


	   }
	 }

	 .carousel-control-prev {
	   opacity: 1;

	   height: 30rem;

	   @media only screen and (min-width: 576px) {
		 height: 100%;
	   }

	   .carousel-control-prev-icon {
	   }

	   .sr-only {

	   }
	 }

	 .carousel-control-next {
	   opacity: 1;
	   height: 30rem;

	   @media only screen and (min-width: 576px) {
		 height: 100%;
	   }

	   .carousel-control-next-icon {

	   }

	   .sr-only {

	   }
	 }





   }
 }

 #spotlight {
   width: 100%;
   margin-top: 3rem;

   @media only screen and (min-width: 992px) {
	 margin-top: 0;
   }
   .spotlight-item {
	 padding: 16px 0;
	 display: flex;

	 border-top: 1px solid #1a1a1a20;
	 img {
		height: 10rem;
	   width: 10rem;
	 }
	 .spotlight-caption {
	   font-family: 'Roboto', sans-serif;
	   font-weight: 700;
	   padding-left: 1rem;
	   span {
		 font-size: 1.2rem;
	   }
	   h4 {
		 color: $secondary;
		 margin-top: .2rem;
		 margin-bottom: .6rem;
	   }

	 }
   }
   .category-1 {
   }

   .category-2 {
   }

   .category-3 {
   }
 }


.box {
  background: #f6f6f6;
  box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
  padding: 0 16px;
}
