// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$primary: #fff;
$primary-500: #f6f6f6;
$primary-700: #aaa;
$secondary-300: #3a3a3a;
$secondary: #1a1a1a;
$secondary-500: #000;
$category-color-brasil: #d42824;
$category-color-internacional: #0c598d;
$category-color-fsm: #f69541;
$category-color-feminismo: #ae93c6;
$category-color-ciranda-afro: #fccf38;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1320px;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;

  .search-icon {
	fill: $secondary-300;
  }

  a {
	color: $secondary;
	&:hover {
	  color: $secondary;
	}
  }
  color: $secondary;

  /* Categoria Brasil */
  .category-brasil {
	a, span, h3, h4, h5, h6 {
	  color: $category-color-brasil;
	}
  }

  /* Categoria Internacional */
  .category-internacional {
	a, span, h3, h4, h5, h6 {
	  color: $category-color-internacional;
	}
  }

  /* Categoria FSM */
  .category-fsm {
	a, span, h3, h4, h5, h6 {
	  color: $category-color-fsm;
	}
  }



  /* Categoria Ciranda Afro */
  .category-ciranda-afro {
	a, span, h3, h4, h5, h6 {
	  color: $category-color-ciranda-afro;
	}
  }

  /* Categoria Feminismo */
  .category-feminismo {
	a, span, h3, h4, h5, h6 {
	  color: $category-color-feminismo;
	}
  }

  .search-form {
	 background-color: #f6f6f6;

	form {
	  @media only screen and (min-width: $sm) {
		margin-left: 1rem;

	  }

	}

	svg {
	  height: 2.5rem;
	  width: 2.5rem;
	}

	 span {
	   display: none;
	 }

	 input {
	   height: 6rem;

	   font-family: 'Roboto', sans-serif;
	   font-size: 2rem;
	   font-weight: 200;
	   text-transform: uppercase;
	   background: $primary-500;
	   &:focus {
		 background-color: $primary-500;
		 &::placeholder {
		   color: transparent;
		   transition: all .25s ease;
		 }
	   }
	 }

	@media only screen and ( min-width: $sm ) {
	  .input-group {
		display: flex;
		align-items: center;
		&:before {
		  content: "";
		  font-weight: 100;
		  font-size: 2rem;
		  position:absolute;
		  z-index: 10;
		}
	  }
	  input {
		border: none;

		&:focus {
		  box-shadow: none;
		}
	  }
	}
   }

  .box {
	background: #f6f6f6;
	box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
	padding: 0 1.5rem;
	margin-top: 5rem;
	border-bottom: 1px solid #ccc;

	@media only screen and (min-width: 576px) {
	  margin-top: 3rem;
	}
	a:hover{
	  text-decoration: none;
	}
  }


  @media only screen and (min-width: $xxl) {
	.col-xxl-4 {

	  max-width: 8.333%*4;
	}
	.col-xxl-6 {

	  max-width: 8.333%*6;
	}

	.col-xxl-8 {

	  max-width: 8.333%*8;
	}

	.col-xxl-10 {

	  max-width: 8.333%*10;
	}

	.offset-xxl-1 {

	  margin-left: 8.333%;
	}

	.offset-xxl-2 {

	  margin-left: 8.333%*2;
	}

	.d-xxl-block {

	  display: block;
	}
  }

}

.top-header {
  background: $secondary;
  height: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;


  color: $primary;
  font-size: 2.5rem;

  .search-column {
	@media only screen and (min-width: 576px) {
	  display: none;
	}
	display: block;
  }

  path {
  }

  svg {
	height: 2.5rem;
	width: 2.5rem;

  }

  .logo {
	font-size: 6px;
	height: 10em;

	text-align: center;


	&:hover {
	  .logo-vinte-anos {
		transform: scale(1.25);
		transition: transform 0.5s ease;

	  }
	}

	.logo-circle {
	  @media only screen and (min-width: 576px) {
		margin: 0;
		transform: scale(1.15);
	  }

	  height: 10em;
	  width: 10em;

	  margin: auto;
	  z-index: 500;
	  transform: scale(0.7);

	  animation: logo-circle-animation 1s linear;

	  @keyframes logo-circle-animation {
		0% {
		  opacity: 0;
		}
		100% {
		  opacity: 1;
		}

	  }

	  .logo-circle-outside {
		height: 10em;

		animation: logo-circle-outside-animation 45s linear infinite;

		@keyframes logo-circle-outside-animation {
		  100% {
			transform: rotate(360deg);
		  }

		}
	  }

	  .logo-circle-inside {
		position: relative;
		top: -8.25em;

		height: 6.5em;
	  }
	}

	.logo-ciranda {
	  @media only screen and (min-width: 576px) {
		display: block;
	  }
	  display: none;
	  height: 5.0em;

	  margin-left: 1.5rem;

	  position: absolute;
	  top: 2.5em;
	  left: 11.5em;

	  animation: logo-ciranda-animation 1s ease;

	  @keyframes logo-ciranda-animation {
		0% {
		  opacity: 0;
		;
		}

		85% {
		  opacity: 1;
		}
	  }
	}

	.logo-vinte-anos {
	  @media only screen and (min-width: 576px) {
		display: block;
	  }
	  display: none;
	  height: 12em;

	  position: absolute;
	  top: -0.5em;
	  left: 30em;

	  margin-left: 1.5rem;

	  transition: all .3s ease-in-out;
	  animation: logo-vinte-anos 2.4s ease-in-out;

	  @keyframes logo-vinte-anos {
		0% {
		  opacity: 0;
		  transform: scale(0);
		}
		30% {

		  opacity: 0;
		}

		40% {
		  transform: scale(0);
		}

		60% {
		  transform: scale(1.5);
		  opacity: 1;
		}

		80% {
		  transform: scale(1);
		  opacity: 1;
		}
	  }
	}
  }

  .mobile-menu-dropdown {
	button {
	  color: $primary;
	  font-size: 2.5rem;
	  float: right;


	  @media only screen and (min-width: 576px) {
		color: $secondary;
	  }
	}
  }

  .search-icon-mobile {

	color: white;
  }


  @media only screen and (min-width: $sm) {
	height: 12rem;
	background: $primary-500;
  }
}

#main-nav {
  padding: 0;

  #navbarNavDropdown {
	padding: 0 1rem;
  }

  #main-menu {
	li {
	  a {
		text-decoration: none;
		font-family: 'Patua One', cursive;
	  	font-size: 1.8rem;
		color: $primary-700;

		padding-right: 30px;

		transition: all .15s ease-out;

		&:hover {
		  transform: scale(1.2);
		  transition: transform .15s ease-in;
		  filter: saturate(400%);
		}
	  }
	}

	#menu-item-52 a {
	  color: $category-color-brasil;
	}
	#menu-item-51 a {
	  color: $category-color-internacional;

	}
	#menu-item-50 a {
	  color: $category-color-fsm;

	}
	#menu-item-53 a {
	  color: $category-color-feminismo;

	}
	#menu-item-12 a {
	  color: $secondary;

	}
  }

  @media only screen and (min-width: $sm) {
	background: $primary-500;
	box-shadow: 0 2px 2px #00000020;

	padding-bottom: 1.5rem;
  }
}


 #banner {
   width: 100%;
   margin-top: 0;

   @media only screen and (min-width: $sm) {
	 margin-top: 3rem;
   }
   #carousel {
	 padding: 2rem 0px;
	 .carousel-inner {

	   .carousel-item {
		 .category-title {
		   display: flex;
		   height: 5rem;
		   z-index: 99;

		   @media only screen and (min-width: $sm) {
			 padding: 2rem 2rem;
			 font-size: 3.5rem;

			 position: absolute;

		   }
		   @media only screen and (min-width: $lg) {
			 padding: 3rem 3rem;

		   }
		   .logo-colunas {
			 height: 4rem;
		   }
		 }
		 &:hover {
		   .carousel-image {
			 transform: scale(1.1);
			 transition: transform .35s ease;
		   }
		 }

		 img {
		   height: 3rem;
		   margin-bottom: 1rem;
		 }

		 h3 {
		   font-family: 'Patua One', cursive;
		   font-size: 3.5rem;
		   margin-bottom: 0.5rem;

		   @media only screen and (min-width: $sm) {
			 text-shadow: 2px 2px 0px rgba(0,0,0,0.7);
			 font-size: 3.5rem;

		 }
		   @media only screen and (min-width: $lg) {
			 font-size: 4rem;

		   }
		 }

		 .carousel-image {
		   transition: all .35s ease-out;

		   background-position: 50%;
		   background-size: cover;
		   height: 20rem;
		   z-index: 0;
		   overflow: hidden;

		   @media only screen and (min-width: $sm) {
			 height: 30rem;
		   }

		   @media only screen and (min-width: $md) {
			 height: 35rem;
		   }
		   @media only screen and (min-width: $xxl) {
			 height: 46rem;
		   }
		   &:after {
			 content: "";

			 position: absolute;

			 height: 100%;
			 width: 100%;

			 @media only screen and (min-width: $sm) {

			   background: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.2) 40%,rgba(0,0,0,.2) 80%,rgba(0,0,0,.4));

			 }
		   }
		 }

		 .carousel-caption {
		   color: $secondary;
		   text-align: left;
		   padding: 10px;
		   position:relative;
		   left: 0;
		   right: 0;
		   bottom: 0;

		   @media only screen and (min-width: $sm) {
			 bottom: 20px;
			 position: absolute;
			 color: $primary;
		   }
		   h2 {
			 font-family: 'Roboto', sans-serif;
			 font-weight: 900;
			 font-size: 2.3rem;
			 text-shadow: none;

			 @media only screen and (min-width: $sm) {
			   margin-left: 1.5rem;
			   font-size: 3.2rem;
			   text-shadow: 0 1px 3px rgba(0,0,0,.8);

			 }
			 @media only screen and (min-width: $lg) {
			   margin-left: 3rem;

			 }
		   }
		 }


	   }
	 }

	 .carousel-control-prev {
	   opacity: 1;

	   height: 30rem;

	   @media only screen and (min-width: $sm) {
		 height: 100%;
	   }

	   .carousel-control-prev-icon {
	   }

	   .sr-only {

	   }
	 }

	 .carousel-control-next {
	   opacity: 1;
	   height: 30rem;

	   @media only screen and (min-width: 576px) {
		 height: 100%;
	   }

	   .carousel-control-next-icon {

	   }

	   .sr-only {

	   }
	 }
   }
 }

 #spotlight {
   box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);

   width: 100%;
   margin-top: 3rem;
   @media only screen and (min-width: 992px) {
	 margin-top: 5rem;
   }

   .spotlight-item {
	 box-shadow: none;
	 margin-top: 0;
	 padding: 16px;
	 display: flex;

	 border-top: 1px solid #1a1a1a20;

	 &:hover {
	   box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16), 2px 0 2px 0 rgba(0,0,0,0.16), 0 2px 2px 0 rgba(0,0,0,0.23);
	   transform: scale(1.015);
	   transition: transform .35s ease;

	   &:hover {
		 h4 {
		   color: $secondary-300;
		 }
	   }
	 }
	 img {
	   align-self: center;
		 height: 12rem;
		 width: 12rem;
		 max-width: 12rem;

	 }
	 .spotlight-caption {
	   font-family: 'Roboto', sans-serif;
	   font-weight: 900;
	   padding-left: 1rem;
	   span {
		 font-size: 1.2rem;
	   }
	   p {
		 font-weight: 400;
		 font-size: 1.2rem;
		 align-self: center;
		 display: none;

		 @media only screen and ( min-width: $xxl ) {
		   display: block;
		 }
	   }
	   h4 {
		 font-size: 1.7rem;
		 color: $secondary;
		 margin-top: .2rem;
		 margin-bottom: .6rem;
		 font-weight: 900;

		 @media only screen and ( min-width: $md ) {
		   font-size: 2.1rem;
		   line-height: 1.3;

		 }
	   }
	 }
   }
	   &:hover {
		 a {
		   text-decoration: none;
		 }

	 }
   }


 #latest {
   margin-top: 5rem;

   h3 {
	 font-size: 4rem;
	 font-family: 'Patua One', cursive;
	 color: $category-color-feminismo;
	 padding: 0 1.5rem;
	 margin-top: 3rem;
   }

 }

.card-columns {
  column-gap: 4rem;
  column-count: 1;

  .card {
	font-family: 'Roboto', sans-serif;
	padding: 1.5rem;
	&:hover {
	  box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16), 2px 0 2px 0 rgba(0,0,0,0.16), 0 2px 2px 0 rgba(0,0,0,0.23);
	  transform: translate3d(0, -5px, 0);
	  transition: transform .15s ease-in;
	}

	img {

	}
	h2 {
	  padding: 1.5rem 0;
	  font-size: 2rem;
	  @media only screen and (min-width: 992px) {
		font-size: 2.5rem;
	  }
	}

	span {
	  em {
		color: $secondary;
	  }
	}
	p {
	  font-size: 1.5rem;
	  color: $secondary;
	}
  }


  .card-decoration {

	border-top: 7px solid $secondary;

	&.category-brasil {
	  border-top-color: $category-color-brasil;
	}

	&.category-internacional {
	  border-top-color: $category-color-internacional;
	}

	&.category-fsm {
	  border-top-color: $category-color-fsm;
	}

	&.category-ciranda-afro {
	  border-top-color: $category-color-ciranda-afro;
	}

	&.category-feminismo {
	  border-top-color: $category-color-feminismo;
	}
  }
  @media only screen and (min-width: 768px) {
	column-count: 2;
  }
  @media only screen and (min-width: 992px) {
	column-count: 3;
  }
  @media only screen and (min-width: 1200px) {
	column-count: 3;
  }

  @media only screen and (min-width: 1320px) {
	column-count: 4;
  }
}

.pagination {
  justify-content: center;

  font-size: 3rem;
  color: $secondary;
  font-family: 'Patua One', cursive;
  a {
	color: $secondary
  }
  .page-numbers {
	padding: 0 1.5rem;
  }
}

#single-wrapper {
  .center-article {
	display: flex;
	justify-content: center;
  }
  #main {
	width: 100%;
	font-size: 2em;
	line-height: 3.5rem;
	color: $secondary;
	h1 {
	  font-size: 5rem;
	  padding: 1.5rem 0;
	}
	img {
	  margin-bottom: 3rem;
	}

	.entry-content {

	  width: 100%;
	  padding: 2rem;
	  text-align: justify;

	  p {
		margin-bottom: 3rem;
	  }
	}
  }
}

#archive-wrapper {
  h1 {
	text-transform: lowercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 4.5rem;
  }
}



